{{- $ephemeral := false -}}{{/* true if this machine is ephemeral, e.g. a cloud or VM instance */}}
{{- $headless := false -}}{{/* true if this machine does not have a screen and keyboard */}}
{{- $personal := false -}}{{/* true if this machine should have personal secrets */}}

{{/* detect GitHub codespaces, VSCode remote containers, Docker containers, Multipass VMs, and Vagrant boxes */}}
{{- if or (env "CODESPACES") (env "REMOTE_CONTAINERS_IPC") (eq .chezmoi.username "root" "ubuntu" "vagrant" "vscode") -}}
{{-   $ephemeral = true -}}
{{-   $headless = true -}}
{{- end -}}

{{- $swDistro := .chezmoi.os -}}
{{- if eq .chezmoi.os "darwin" -}}
{{-   $swDistro = (output "sw_vers" "--productName") | trim -}}
{{- else if eq .chezmoi.os "linux" -}}
{{-   $swDistro = .chezmoi.osRelease.id | default .chezmoi.os -}}
{{- else if eq .chezmoi.os "windows" -}}
{{-   $swDistro = (output "powershell.exe" "-NoProfile" "-NonInteractive" "-Command" "(Get-CimInstance -Class Win32_OperatingSystem).Caption") | trim -}}
{{- end -}}

{{- $chassisType := "desktop" }}
{{- if eq .chezmoi.os "darwin" }}
{{-   if contains "MacBook" (output "system_profiler" "SPHardwareDataType") }}
{{-     $chassisType = "laptop" }}
{{-   else }}
{{-     $chassisType = "desktop" }}
{{-   end }}
{{- else if eq .chezmoi.os "linux" }}
{{-   $chassisType = (output "hostnamectl" "--json=short" | mustFromJson).Chassis }}
{{- else if eq .chezmoi.os "windows" }}
{{-   $chassisType = (output "pwsh.exe" "-NoProfile" "-NonInteractive" "-Command" "if ((Get-CimInstance -Class Win32_Battery | Measure-Object).Count -gt 0) { Write-Output 'laptop' } else { Write-Output 'desktop' }") | trim }}
{{- end }}

{{- if not $ephemeral -}}
{{-   if eq .chezmoi.os "darwin" -}}
{{-     $personal = true -}}
{{-   else if stdinIsATTY -}}
{{-     $ephemeral = promptBoolOnce . "ephemeral" "ephemeral" -}}
{{-     $headless = promptBoolOnce . "headless" "headless" -}}
{{-     $personal = promptBoolOnce . "personal" "personal" -}}
{{-   else -}}
{{-     $ephemeral = true -}}
{{-     $headless = true -}}
{{-   end -}}
{{- end }}

{{- $fullName := promptStringOnce . "name" "Full Name" -}}
{{- $email := promptStringOnce . "email" "Email address" -}}
{{- $githubUsername := promptStringOnce . "github.username" "Github Username" -}}

encryption: age
age:
    identity: "~/.age/key.txt"
    recipient: age1qjeze4j0d27yek9g93c0emsstcr69gn07a8ewtg4035xr2aams6q5ghyeh
data:
  ephemeral: {{ $ephemeral }}
  headless: {{ $headless }}
  personal: {{ $personal }}
  sw:
    os: {{ .chezmoi.os | quote }}
    distro: {{ $swDistro | quote }}
  hw:
    chassis: {{ $chassisType | quote }}
    arch: {{ .chezmoi.arch | replace "amd64" "x86_64"| replace "aarch64" "arm64" | quote }}
  name: {{ $fullName | quote }}
  email: {{ $email | quote }}
  github:
    username: {{ $githubUsername | quote }}
editor:
  command: code
  args:
  - "--wait"
pager: less
pagerArgs:
  - "-RFK"
status:
  exclude:
    - "scripts"
diff:
  exclude:
    - "scripts"
  pager: delta
  pagerArgs:
    - "--diff-so-fancy"
