{{- $swDistro := .chezmoi.os -}}
{{- if eq .chezmoi.os "darwin" -}}
{{-   $swDistro = (output "sw_vers" "--productName") | trim -}}
{{- else if eq .chezmoi.os "linux" -}}
{{-   $swDistro = .chezmoi.osRelease.id | default .chezmoi.os -}}
{{- else if eq .chezmoi.os "windows" -}}
{{-   $swDistro = (output "powershell.exe" "-NoProfile" "-NonInteractive" "-Command" "(Get-CimInstance -Class Win32_OperatingSystem).Caption") | trim -}}
{{- end -}}

{{- $hwModel := "unknown" -}}
{{- if eq .chezmoi.os "darwin" -}}
{{-   $hwModel = (output "sysctl" "-n" "hw.model") | trim -}}
{{- else if eq .chezmoi.os "linux" -}}
{{-   $hwModel = (output "cat" "/sys/firmware/devicetree/base/model") | trim -}}
{{- else if eq .chezmoi.os "windows" -}}
{{-   $hwModel = (output "powershell.exe" "-NoProfile" "-NonInteractive" "-Command" "(Get-CimInstance -Class Win32_ComputerSystem).Model") | trim -}}
{{- end -}}

{{- $chassisType := "desktop" }}
{{- if eq .chezmoi.os "darwin" }}
{{-   if contains "MacBook" $hwModel }}
{{-     $chassisType = "laptop" }}
{{-   else }}
{{-     $chassisType = "desktop" }}
{{-   end }}
{{- else if eq .chezmoi.os "linux" }}
{{-   $chassisType := "server" }}
{{- else if eq .chezmoi.os "windows" }}
{{-   $chassisType = (output "powershell.exe" "-NoProfile" "-NonInteractive" "-Command" "if ((Get-CimInstance -Class Win32_Battery | Measure-Object).Count -gt 0) { Write-Output 'laptop' } else { Write-Output 'desktop' }") | trim }}
{{- end }}

{{- $fullName := promptStringOnce . "name" "Full Name" -}}
{{- $email := promptStringOnce . "email" "Email address" -}}
{{- $githubUsername := promptStringOnce . "github.username" "Github Username" -}}

encryption: age
age:
    identity: "~/.age/key.txt"
    recipient: age1qjeze4j0d27yek9g93c0emsstcr69gn07a8ewtg4035xr2aams6q5ghyeh
data:
  sw:
    os: {{ .chezmoi.os | quote }}
    distro: {{ $swDistro | quote }}
  hw:
    chassis: {{ $chassisType | quote }}
    model: {{ $hwModel | quote }}
    arch: {{ .chezmoi.arch | replace "amd64" "x86_64"| replace "aarch64" "arm64" | quote }}
  name: {{ $fullName | quote }}
  email: {{ $email | quote }}
  github:
    username: {{ $githubUsername | quote }}
editor:
  command: code
  args:
  - "--wait"
status:
  exclude:
    - "scripts"
diff:
  exclude:
    - "scripts"
  pager: delta
