{{- $ephemeral := false -}}{{/* true if this machine is ephemeral, e.g. a cloud or VM instance */}}
{{- $headless := false -}}{{/* true if this machine does not have a screen and keyboard */}}
{{- $personal := false -}}{{/* true if this machine should have personal secrets */}}

{{/* detect GitHub codespaces, VSCode remote containers, Docker containers, Multipass VMs, and Vagrant boxes */}}
{{- if or (env "CODESPACES") (env "REMOTE_CONTAINERS_IPC") (eq .chezmoi.username "root" "ubuntu" "vagrant" "vscode") -}}
{{-   $ephemeral = true -}}
{{-   $headless = true -}}
{{- end -}}

{{- $swDistro := .chezmoi.os -}}
{{- if eq .chezmoi.os "darwin" -}}
{{-   $swDistro = (output "sw_vers" "--productName") | trim -}}
{{- else if eq .chezmoi.os "linux" -}}
{{-   $swDistro = .chezmoi.osRelease.id | default .chezmoi.os -}}
{{- else if eq .chezmoi.os "windows" -}}
{{-   $swDistro = (output "powershell.exe" "-NoProfile" "-NonInteractive" "-Command" "(Get-CimInstance -Class Win32_OperatingSystem).Caption") | trim -}}
{{- end -}}

{{- $hwModel := "unknown" -}}
{{- if eq .chezmoi.os "darwin" -}}
{{-   $hwModel = (output "sysctl" "-n" "hw.model") | trim -}}
{{- else if eq .chezmoi.os "linux" -}}
{{-   $hwModel = (output "cat" "/sys/firmware/devicetree/base/model") | trim -}}
{{- else if eq .chezmoi.os "windows" -}}
{{-   $hwModel = (output "powershell.exe" "-NoProfile" "-NonInteractive" "-Command" "(Get-CimInstance -Class Win32_ComputerSystem).Model") | trim -}}
{{- end -}}

{{- if not $ephemeral -}}
{{-   if eq .chezmoi.os "darwin" -}}
{{-     $personal = true -}}
{{-   else if contains $hwModel "Raspberry Pi" -}}
{{-     $personal = true -}}
{{-     $headless = true -}}
{{-   else if stdinIsATTY -}}
{{-     $headless = promptBoolOnce . "headless" "headless" -}}
{{-     $ephemeral = promptBoolOnce . "ephemeral" "ephemeral" -}}
{{-   else -}}
{{-     $ephemeral = true -}}
{{-     $headless = true -}}
{{-   end -}}
{{- end }}

{{- $fullName := promptStringOnce . "name" "Full Name" -}}
{{- $email := promptStringOnce . "email" "Email address" -}}
{{- $githubUsername := promptStringOnce . "github.username" "Github Username" -}}

encryption: age
age:
    identity: "~/.age/key.txt"
    recipient: age1qjeze4j0d27yek9g93c0emsstcr69gn07a8ewtg4035xr2aams6q5ghyeh
data:
  ephemeral: {{ $ephemeral }}
  headless: {{ $headless }}
  personal: {{ $personal }}
  sw:
    os: {{ .chezmoi.os | quote }}
    distro: {{ $swDistro | quote }}
  hw:
    model: {{ $hwModel | quote }}
    arch: {{ .chezmoi.arch | replace "amd64" "x86_64"| replace "aarch64" "arm64" | quote }}
  name: {{ $fullName | quote }}
  email: {{ $email | quote }}
  github:
    username: {{ $githubUsername | quote }}
editor:
  command: code
  args:
  - "--wait"
status:
  exclude:
    - "scripts"
diff:
  exclude:
    - "scripts"
  pager: delta
