{{- if eq .chezmoi.os "darwin" }}
# Add Homebrew
{{- if eq .chezmoi.arch "arm64" }}
eval "$(/opt/homebrew/bin/brew shellenv zsh)"
{{- else }}
eval "$(/usr/local/bin/brew shellenv zsh)"
{{- end }}
# Add Visual Studio Code (code)
export PATH="$PATH:/Applications/Visual Studio Code.app/Contents/Resources/app/bin"
# Added by Obsidian
export PATH="$PATH:/Applications/Obsidian.app/Contents/MacOS"
{{- end }}
# Add local user binaries
export PATH="$PATH:{{ .chezmoi.homeDir }}/.local/bin"
