{{- if eq .chezmoi.os "darwin" -}}
#!/usr/bin/env zsh

# Homebrew
export HOMEBREW_NO_ENV_HINTS=1
export HOMEBREW_BUNDLE_FILE_GLOBAL="${XDG_CONFIG_HOME:-$HOME/.config}/homebrew/Brewfile"
export HOMEBREW_BUNDLE_DUMP_NO_VSCODE=1
{{- end -}}
