{{- if eq .chezmoi.os "linux" -}}
#!/usr/bin/env sh

set -e

{{- if (eq .chezmoi.osRelease.id "debian" "ubuntu") }}
echo "-------------------------------------"
if ! command -v brew >/dev/null 2>&1; then
    echo "Installing homebrew"

    curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh | bash

    echo "Finished installing homebrew"
    echo "-------------------------------------"
else
    echo "Homebrew already installed"
    echo "-------------------------------------"
fi
{{- end }}
{{- end -}}
