# Internet Brands
#
# Projects
## Local
export WORK_ROOT=$HOME/Development/Projects/Internet_Brands
# Projects
export FODORS_MAIN_ROOT=$WORK_ROOT/fodors.com
export FODORS_WORDPRESS_ROOT=$WORK_ROOT/fodors.com-wordpress
export FODORS_WORDPRESS_THEME=$FODORS_WORDPRESS_ROOT/wp-content/themes/fodors

## GitLab
export GITLAB_URI="{{ onepasswordRead "op://Work/GitLab/CLI/uri" }}"
export GITLAB_TOKEN="{{ onepasswordRead "op://Work/GitLab/CLI/token" }}"

## Jira
export JIRA_URL="{{ onepasswordRead "op://Work/Jira CLI/hostname" }}"
export JIRA_NAME="{{ onepasswordRead "op://Work/Jira CLI/username" }}"
export JIRA_API_TOKEN="{{ onepasswordRead "op://Work/Jira CLI/credential" }}"
export JIRA_AUTH_TYPE="bearer"
# alias jira="op run --env-file=$HOME/.config/op/jira.env -- jira"

## Jenkins
export JENKINS_URL="{{ onepasswordRead "op://Work/Jenkins/CLI/url" }}"
export JENKINS_USER_ID="{{ onepasswordRead "op://Work/Jenkins/CLI/user-id" }}"
export JENKINS_API_TOKEN="{{ onepasswordRead "op://Work/Jenkins/CLI/token" }}"

export FODORS_MAIN_JENKINS_JOB="{{ onepasswordRead "op://Work/Jenkins/CLI/main-job" }}"
export FODORS_WORDPRESS_JENKINS_JOB="{{ onepasswordRead "op://Work/Jenkins/CLI/wordpress-job" }}"

alias jenkins='java -jar "${WORK_ROOT}"/jenkins-cli.jar -s "${JENKINS_URL}" -webSocket -auth "${JENKINS_USER_ID}":"${JENKINS_API_TOKEN}" '
# alias jenkins='op run --env-file=$HOME/.config/op/jenkins.env -- java -jar "${WORK_ROOT}"/jenkins-cli.jar -s "${JENKINS_URL}" -webSocket -auth "${JENKINS_USER_ID}":"${JENKINS_API_TOKEN}" '

# ## SSH
alias sdf='ssh dev-fodors'

function jenkins-build() {
    local site="$1"
    local branch="$2"
    local environment="$3"

    if [ -n "$site" ]; then
        case $site in
            main) site=$FODORS_MAIN_JENKINS_JOB ;;
            wordpress) site=$FODORS_WORDPRESS_JENKINS_JOB ;;
        esac
    else
        site=$FODORS_MAIN_JENKINS_JOB
    fi

    jenkins build "${site}" -p branch_name="${branch}" -p staging_to_build="${environment}" -f -v
}
